@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="card">
    <div class="card-header">
        Hakkımızda
    </div>
    <div class="card-body">
        <p class="card-text">TinyMaster, çocuklar için kaliteli oyuncaklar sunan bir mağazadır. Misyonumuz, çocukların eğlenceli ve güvenli bir şekilde oynamalarını sağlamaktır.</p>
    </div>
</div>
